body {
    padding: 10px 10px;
}

#game-container{
    display: flex;
    background: bisque;
    flex-direction: column-reverse;
    width: 100%;
    height: 90vh;
    flex-wrap: wrap;
    justify-content: start;
}

#left-game-panel{
    /*background: darkgoldenrod;*/
    background-image: url("images/slate_texture_1.jpg");
    flex-basis: 100%;
    flex-direction: column;
    height: 100%;
    width: 20%;
    display: flex;
    flex: 1 0 auto;
    border: 1px solid black;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}

div[row_number]{
    display: flex;
    flex: 1 1 auto;
    width: 60%;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    flex-wrap: nowrap;
}

div[row_number]:nth-of-type(odd) {
    background-image: url("images/wood_texture_2.jpg");
}

div[row_number]:nth-of-type(even) {
    background-image: url("images/wood_texture_1.jpg");
}

#key-panel{
    display: flex;
    flex: 0 0 auto;
    background: maroon;
    flex-direction: row;
    height: 10%;
    width: 60%;
    border: 1px solid black;
}

#right-game-panel{
    display: flex;
    flex: 1 0 auto;
    background-image: url("images/slate_texture_1.jpg");
    /*background: darkgoldenrod;*/
    flex-basis: 100%;
    flex-direction: column-reverse;
    height: 100%;
    width: 20%;
    border: 1px solid black;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

div[color]{
    display: flex;
    margin: 20px 10px; /*FIXTHIS scaling later*/
    width: 25%;
    height: 25px;
    /*background: red;*/
    border: 1px solid black;
    background-repeat: no-repeat;
    background-size: auto;
}

div[arrow] {
    display: flex;
    max-width: 16%;
    min-width: 16%;
}

div[p_num] {
    background-color: rgba(0, 255, 180, 0.06);
    border-left: 1px solid black;
    width: 16%;
}

div[peg_placement_area] {
    background-color: rgba(0, 0, 255, 0.06);
    border-left: 1px solid black;
    max-width: 17%;
    min-width: 17%;
}
