body {
    padding: 10px 10px;
}

#game-container{
    display: flex;
    background: bisque;
    flex-direction: column-reverse;
    width: 100%;
    height: 90vh;
    flex-wrap: wrap;
    justify-content: start;
}

#left-game-panel{
    /*background: darkgoldenrod;*/

    display: flex;
    flex: 1 0 auto;
    flex-direction: column;

    background-image: url("images/slate_texture_1.jpg");
    /*flex-basis: 100%; */

    justify-content: start;  /*This and align-items may be reversed due to column flex direction*/
    align-items: center;

    height: 100%;
    width: 20%;


    border: 1px solid black;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}

/* This will push the game pieces on the left panel down further */
#L_panel_top_padding {
    height: 5%;
}

div[row_number]{
    display: flex;
    flex: 1 1 auto;
    width: 60%;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    flex-wrap: nowrap;
}

div[row_number]:nth-of-type(odd) {
    background-image: url("images/wood_texture_2.jpg");
}

div[row_number]:nth-of-type(even) {
    background-image: url("images/wood_texture_1.jpg");
}

#key-panel{
    display: flex;
    flex: 0 0 auto;
    background: maroon;
    flex-direction: row;
    height: 10%;
    width: 60%;
    border: 1px solid black;
}

#right-game-panel{
    display: flex;
    justify-content: space-between;  /*This and align-items may be reversed due to column flex direction*/
    align-items: center;
    flex: 1 1 50%; /*This combination prevents the container growing to tall with padding added */
    background-image: url("images/slate_texture_1.jpg");
    padding-top: 5%;
    padding-bottom: 5%;
    /*background: darkgoldenrod;*/
    flex-basis: 100%;
    flex-direction: column-reverse;
    height: 100%;
    width: 20%;
    border: 1px solid black;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

div[color]{
    display: flex;
    /*margin: 20px 10px; FIXTHIS scaling later*/
    margin: 0.2em;
    width: 25%;
    height: 5vh;
    /*background: red;*/
    border: 1px solid black;
    background-repeat: no-repeat;
    background-size: auto;
}

div[arrow] {
    display: flex;
    max-width: 16%;
    min-width: 16%;
}

div[p_num] {
    background-color: rgba(0, 255, 180, 0.06);
    border-left: 1px solid black;
    width: 16%;
}

div[peg_placement_area] {
    background-color: rgba(0, 0, 255, 0.06);
    border-left: 1px solid black;
    max-width: 17%;
    min-width: 17%;
}

#color_btn_container {
    width: 75%;
    height: 75%;
    border: 1px dotted black;
}


#submit_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2vw;
    color: #62ff25;
    background: darkgreen;
    border: 1px solid black;
    width: 50%;
    height: 5%;
}

/* ID submit_btn, but only when element's attribute color = green */
#submit_btn[color=green]:hover {;
    border: 1px dotted #62ff25;
}

#submit_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2vw;
    color: #62ff25;
    background: darkgreen;
    border: 1px solid black;
    width: 50%;
    height: 5%;
}
